@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', "Arial", sans-serif;
}

/* End Reset */

/* Start header */
header {
    height: 56px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 2rem;
    padding: 0 18px;
}

i {
    font-size: 2.5rem;
    color: #000;
}

.home:hover {
    background-color: #efecec;
}

/* end header */


/* Start aside */
.container {
    height: calc(100vh - 56px);
    display: flex;
    overflow: hidden;
}

aside {
    background-color: white;
    height: 100%;
    width: 280px;
    overflow-y: auto;
}

aside nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding-right: 15px;
}

aside nav a.active {
    /* background-color: #eeecec; */
    border-radius: 6px;
}

aside nav a.active span.active-span {
    font-weight: bold;
}

nav a {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    transition: background-color .3s ease;
}

nav a:hover {
    background-color: #f0eded;
    border-radius: 6px;
}

nav a .icn {
    font-size: 2.5rem;
    color: black;
}

nav a .txt {
    font-size: 16px;
    color: black;
    padding-left: 18px;
}

nav h2 {
    padding-left: 15px;
    padding-bottom: 7px;
    color: #757676;
}

nav div.channel div {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav div.channel div img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

nav div.channel div span {
    font-size: 15px;
    color: black;
    padding-left: 18px;
}

/* End aside */

/* Start main */

.blogs-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    font-size: 4rem;
    margin: 0 auto;
    color: #ff0000;
}

/*End main */

/* Media Query for screens with a maximum width of 425px */
@media (max-width:425px) {
    header {
        display: flex;
        flex-direction: row;
    }

    .container {
        position: relative;
    }

    aside {
        display: none;
    }
}

/* End Media Query for screens with a maximum width of 425px */

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    main {
        width: 100%;
        /* flex-wrap: wrap; */
    }
}