/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding:2rem 1rem;
    font-weight: 400;
    color: #1e1818;
}

.hero-top {
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fe2c0b;
    text-decoration: underline;
    margin-bottom: 5px;
}

p {
    font-size: 1rem;
    word-spacing: 2px;
    letter-spacing: 0.2px;
    line-height: 22px;
}

.skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 800px;
}

.skill-cards {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: #00000059 0px 5px 15px; */
    box-shadow: #32325d40 0px 50px 100px -20px, #fe2c0b 0px 30px 60px -30px, #0a254059 0px -2px 6px 0px inset;
    cursor: pointer;
    position: relative;
}

.skill-cards p {
    font-size: 0.8rem;
    color: #1e1818;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}

.skill-icon {
    font-size: 60px;
}

.tailwind, .express, .mongoDB, .redux, .nextjs {
    width: 60px;
}

.MySQL, .postgresql {
    width: 100px;
}

.skills-ul li, .achievements li {
    font-size: 16px;
    line-height: 35px;
}

.achievements li::marker {
    color: #fe2c0b;
}

.achievements-ul {
    list-style-position: inside;
}

i:hover {
    color: #fe2c0b;
    transform: scale(1.2);
}

/* .skill-icon:hover {
    color: #fe2c0b;
    transform: scale(1.2);
} */

.fa-css3-alt {
    color: #2b0bfe;
}
.fa-bootstrap {
    color: #d50bfe;
}
.fa-square-js {
    color: #f6fe0b;
}
.fa-react {
    color: #00ffff;
}
.fa-node {
    color: #008000;
}

.fa-php {
    color: #5043a5;
}

.fa-file-invoice{
    margin-left: 10px;
}